/* Common CSS */
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: "Times New Roman", Times, serif;
}
html, body,
ul, li,
h1, h2, p,
div, footer {
  margin: 0;
  padding: 0;
}
body{
    background-color: #ffb6c1;
    margin: auto 100px;
}
h2 {
  font-weight: bold;
  color: #1a7f1a;
}
.author-img{
   height: 300px;
   width: 300px;
   float: right;
   position:relative;
   top: -250px;
}
button{
    background-color: lavender;
    color: white;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    transition: all 0.6s ease-in-out;
}
    /* ---------------about section css----------- */
.About{
    padding-top: 100px;
}
.education {
  padding-left:80px;
}
.education h2{
    font-weight: 800;
    color: green;
}
.big-title{
    font-weight:500;
    list-style: circle;
}
/* ------------About section css ended ------------ */

/* ---------------Skills section css----------- */
.skills{
    height: 170px;
    padding-top: 30px;
}
.skills-heading{
    margin-bottom: 30px;
}
.skills li , .project-link{
    border: 1.5px solid green;
    border-radius: 5px;
    color: red;
    background-color: lavender;
    padding: 10px;
    width:fit-content;
    float: left;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.skills li:hover , .project-link:hover{
    color: lightgreen;
    background-color: deeppink;
}
/* ----------------skills section ended----------------- */

/* ---------------Project section css----------- */
.project{
    height: 500px;
}
.project-head-title{
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}
.project-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 100px;
}
.project-details{
    border: 1px solid lavender;
    padding: 30px;
    border-radius: 5px;
}
.project-link:hover{
    color: lavender;
    background-color: white;
}
.project-link a{
  text-decoration: none;
  font-size: 23px;
  color:darkgreen;
}

/* ----------------Project section ended----------------- */

/* ---------------Publication section css----------- */
.publish{
    color: darkgreen;
    height: 500px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}
a {
  text-decoration: none;
  color: #006400;
  display: block;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #4ac0b9;
}

footer{
    height: 50px;
}
.getintouch {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}
button:hover {
    transform: scale(1.2);
    background-color:rgb(30, 30, 190);
}
button a{
    text-decoration: none;
    font-size: 20px;
    color: red;
    display: block;
}
.follow-me{ 
    text-align: center;
    margin-top: 50px;
}
.follow-me h3{
    font-style: oblique;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}
.fab{
    font-size: 30px;
    transition: all 0.4s ease-out;
}
.fab:hover{
    transform: scale(1.2);
}

li {
    list-style: none; 
    margin-bottom: 5px; 
    font-size: 25px;
}
.follow-me li i{
    float: left;
    letter-spacing: 20px;
}
